{% extends "layout.html" %}
{% block content %}
<div class="container pt-5" style="max-width:420px;margin:auto;">
    <form method="post" action="/user/create">
        <fieldset class="form-outline">
                <legend class="text-center border-bottom pb-2 mb-4 h1">Sign Up</legend>
                                        <!-- First Name input -->
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" name="first_name" class="form-control" placeholder="First Name" />
                        <label class="form-label visually-hidden" for="first_name"></label>
                    </div>
                </div>
                                        <!-- Last Name  input -->
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name"  />
                        <label class="form-label visually-hidden" for="last_name"></label>
                    </div>
                </div>
            </div>  
                                                <!-- Email input -->
            <div class="form-outline mb-3">
                <input type="email" name="email" class="form-control" placeholder="Email"  />
                <label class="form-label visually-hidden" for="email"></label>
            </div>
        </fieldset>
                                                    <!-- Submit button -->
        <div class="form-outline d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
        </div>
    </form>
</div>
{% endblock content %}